doctype 5
html
  head
    title Companion
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/libs/ui-lightness/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='../') Companion
          .nav-collapse
            - if (user !== undefined)
              ul.nav
                li: a(href='/fuel') Fuel
                li: a(href='/stops') Stops
                li: a(href='/invoices') Invoices
              ul.nav.pull-right
                li: a(href='/account') Hi, #{user.username}
                li.divider-vertical
                li: a(href='/logout') Logout
            - else
              ul.nav.pull-right
                li: a(href='/register') Register
                li.divider-vertical
                li: a(href='/login') Login

    block content

    script(src='/libs/jquery.js')
    script(src='/libs/jquery-ui.js')
    script(src='/libs/bootstrap/js/bootstrap.min.js')
    //script(src='/libs/live.js')
    script(src='/nowjs/now.js')
    script(src='/javascripts/companion.js')