doctype 5
html
  head
    title Companion
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/libs/ui-lightness/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='../') Companion
          - if (everyauth.loggedIn)
            .nav-collapse
              ul.nav
                li: a(href='/fuel') Fuel
                li: a(href='/stops') Stops
              ul.nav.pull-right
                li: a(href='/logout') logout

    block content

    script(src='/libs/jquery.js')
    script(src='/libs/jquery-ui.js')
    script(src='/libs/bootstrap/js/bootstrap.min.js')
    //script(src='/libs/live.js')
    script(src='http://localhost:3000/nowjs/now.js')
    script(src='/javascripts/companion.js')