extends layout
block content

  h2 Create New Account
  - if (message.length)
    p.alert.alert-error=message
  form#register-form.well(action='/register', method='POST',accept-charset='UTF-8')
    label Username:
    input#username(name='username', type='text', size=30)
    label Email:
    input#email(name='email', type='email', size=30)
    label Password:
    input#password(name='password', type='password', size=30)
    label Confirm Password:
    input#confirm-password(name='confirm_password', type='password', size=30)
    #msg.alert.alert-error.hide
    br
    input#signup-button.btn.btn-success(type='submit', value='Sign Up')